.content{
  display: flex;
  flex-wrap: wrap;

}


@media screen and (max-width: 599px) {


  .about_description,.header__logo,.header__inner{
   display: flex;
   flex-wrap: wrap;
  }

 body,main, .header,.header__inner, .nav, .content {

   width:100%;
   margin-left: 0;
   margin-right: 0;
 }


.header__logo{

  margin-left: 1px;
  height: 80px;
  width: 80px;
}

.header__inner{
float: right;
font-size: 50px;

}

.header_navigation{
  font-size: 12px;
  padding-left: 10px;

}

.header_navigation_job_title{
font-size: 12px;

}

.nav_item{

  font-size: 15px;
  padding-left: 10px;

}

.project_title{

  font-size: 15px;

}

.title_holder{

  width:50%;


}

.title_project_long{
  height: 12%;
  float:right;
  -webkit-transform: translate(90px, 0);
  -ms- transform: translate(90px, 0);
}

.picture_first_main{
  display: none;

}

.photo_main{

  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  margin-left: 0;


}

.main_photo_content{
 font-size: 20px;
 border-radius: 10px;
 position: relative;

 height: 250px;
    


    -webkit-transform: translate(-5px, -190px);
    -ms-transform: translate(-5px, -190px);


}


.project_counter{

  height:500px;
  width: 300px;
  -webkit-transform: translate(-70px, 0);
  -ms-transform: translate(-70px, 0);



}

.photo_project_2{
 -webkit-transform: translate(0, 0);
 -ms-transform: translate(0, 0);
}

.git_source{
  font-size: 15px;
  text-align: center;
  padding-left: 0;


}
.source_link_style{
  font-weight: 700px;

}


.footer_content{
  font-size: 11px;

}
.quote_author{
  font-size: 10px;
  float: left;


}
.header__inner{
  font-size: 10px;
}
}

@media screen and (min-width: 600px) {

  body,main, .header,.header__inner, .nav, .content {

    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }




.header__logo{

  margin-left: 15px;
}

.photo_main{

  -webkit-transform: translate(-160px, 0);
}

.project_counter{

  height:700px;
  width: 500px;
  padding-left: 10px;

}

.photo_project_2{
 -webkit-transform: translate(0, 0);
}

.git_source{
  font-size: 20px;
  text-align: center;
  padding-left: 30px;


}
.source_link_style{
  font-weight: 700px;

}

.footer_content{
  font-size: 12px;

}
}





@media screen and (min-width: 700px) {

  body,main, .header,.header__inner, .nav, .content {

    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

body{

  border-style: ridge;
  border-radius: 20px;
}

.header__logo{

  margin-left: 15px;
}

.photo_main{

  -webkit-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
}

.project_counter{

  height:700px;
  width: 500px;
  padding-left: 100px;

}

.photo_project_2{
 -webkit-transform: translate(0, 100px);
 -ms-transform: translate(0, 100px);
}

.git_source{
  font-size: 20px;
  text-align: center;
  padding-left: 30px;


}
.source_link_style{
  font-weight: 700px;

}

.footer_content{
  font-size: 12px;
}
}

@media screen and (min-width: 932px) {

  body,main, .header,.header__inner, .nav, .content {

    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

body{

  border-style: ridge;
  border-radius: 20px;
}

.header__logo{

  margin-left: 15px;
}

.photo_main{

  -webkit-transform: translate(-120px, 0);
   -ms-transform: translate(-120px, 0);
}

.project_counter{

  height:510px;
  width: 400px;
  padding-left: 20px;
}

.photo_project_2{
 -webkit-transform: translate(0, 0);
 -ms-transform: translate(0, 0);
}

.footer_content{
  font-size: 15px;
}

}


@media screen and (min-width: 1010px) {

  body,main, .header,.header__inner, .nav, .content {

    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

body{

  border-style: ridge;
  border-radius: 20px;
}

.header__logo{

  margin-left: 15px;
}

.photo_main{

  -webkit-transform: translate(-80px, 0);
  -ms-transform: translate(-110px, 0);
}

.photo_project_2{
 -webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
}

.quote_author{
  -ms-padding-right:20px;
}

}


